img {
  object-fit: contain !important;
}
.MuiPaper-root {
  padding-bottom: 0;
}
.MuiDialogContent-root {
  background-color: rgba(230, 229, 229, 0.858);
  /* padding: 0;
  margin: 0;
  overflow: hidden; */
}
